/* Scss Document */
@import url("https://fonts.googleapis.com/css?family=Arvo|Lato|Roboto");
/*#062A73*/
/*#rgba(0,0,0,0.25)*/
/*rgba(0,0,0,0.75)*/
/*#2D4059*/
/*#FFFFFF*/
html, body {
  height: auto;
  margin: 0;
  border: 0; 
  background: rgba(0,0,0, 0.025)}

header {
  background-image: url(architecture-839362_1920.jpg);
  height: 100vh;
  background-size: cover;
  display: -webkit-flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: Gotham, "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, sans-serif;
  color: #5E5E5E;
  text-align: center; }

header h1
{
	margin-top: 1.5em;
	font-size: 60px;
}

header h4 {
  max-width: 800px;
  margin: 0;
  margin-top: 5em;
  font-family: Gotham, "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, sans-serif;
  font-weight: 100;
  font-size: 1.5em; }

input {
  border: 1.5px solid #BABABA;
  width: 50%;
  height: auto;
  font-size: 1.25em;
  font-family: Gotham, Gill Sans, Gill Sans MT, Myriad Pro, DejaVu Sans Condensed, Helvetica, Arial," sans-serif" !important;
  font-weight: 300 !important;
  padding: 5px;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: 5px; }

input[type="submit"] {
  align-self: flex-end;
  width: 25%;
  cursor: pointer;
  border-radius: 10px;}

#landingpagelogo {
  width: 250px; }

#home-bkpic {
  background: url(architecture-1727807_1920_blurr.jpg); 
  height: auto;
  background-size: cover;}

#SE-bkpic {
  background-image: url(startup-593334_1920_blurr.jpg);
  background-size: cover; }

#SME-bkpic {
  background-image: url(architecture-1727807_1920_blurr.jpg);
  background-size: cover; }

#IPO-bkpic {
  background-image: url(architecture-22039_1920_blurr.jpg);
  background-size: cover; }

#LIS-bkpic {
  background-image: url(asia-1782429_1920_blurr.jpg);
  background-size: cover; }

#TT-bkpic {
  background-image: url(skyscrapers-1210010_1920_blurr.jpg);
  background-size: cover;}

.white-font {
  color: white; }

.whole {
  background-image: url(architecture-1359707_1920.jpg);
  background-size: cover; }

.logo {
  width: 80px;
  height: auto;
  position: relative;
  top: 5px; }

.logoLi {
  position: relative;
  height: auto;
  width: 220px;
  padding: 0;
  box-sizing: border-box; }

.logoLi a {
  height: auto;
  width: auto; }

.nav span {
  font-size: 14px; }

.nav {
  width: auto;
  height: 70px;
  font-family: Gotham, Gill Sans, Gill Sans MT, Myriad Pro, DejaVu Sans Condensed, Helvetica, Arial," sans-serif";
  font-weight: 100;
  background: rgba(0, 0, 0, 0.25);
  font-size: 18px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center; }

.nav-wrapper {
  height: auto;
  width: auto;
  margin-left: auto;
  margin-right: auto;
  padding-top: 5px;
  padding-bottom: 5px;
  opacity: 1;
  text-align: center; }

.nav-wrapper ul {
  margin: 0;
  padding: 0;
  -webkit-transition: display 0.4s;
  -ms-transition: max-height 0.4s;
  -moz-transition: max-height 0.4s;
  -o-transition: max-height 0.4s;
  transition: max-height 0.4s;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center; }

.nav-wrapper ul li {
  box-sizing: border-box;
  list-style-type: none;
  display: inline-block;
  font-weight: bold;
  padding-top: 10px;
  padding-left: 10px;
  padding-bottom: 10px;
  padding-right: 10px;
  width: 200px; }

.nav-wrapper ul li.dropdown {
  display: inline-block;
  z-index: 1; }

.dropbtn {
  display: inline-block;
  color: white;
  text-align: center;
  text-decoration: none; }

.dropdown-content {
  display: none;
  margin-top: 10px;
  margin-left: -10px;
  position: absolute;
  background-color: #153155;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2); }

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left; }

.dropdown:hover .dropdown-content {
  display: block; }

.nav-wrapper a {
  color: white;
  text-decoration: none;
  display: block; }

.navlogo {
  background: rgba(255, 255, 255, 0.5);
  margin-left: 5px; }

.navlogo a{
  padding: 0px;
}

.navlogo:hover {
  transition: all 0.45s;
  opacity: 0.8; }

.nav-wrapper ul li:hover {
  transition: all 0.45s;
  opacity: 0.8; }

.nav-wrapper ul li a:hover {
  text-decoration: underline; }

.dropdown-content a:hover {
  opacity: 1;
  text-decoration: underline; }

.active a{
  background: none !important;
  } 

.active {
    background: rgba(0, 0, 0, 0.25) !important; }
    
.menu {
  width: 100%;
  text-align: left;
  box-sizing: border-box;
  padding: 15px 15px 18px 10px;
  cursor: pointer;
  color: white;
  display: none; }

.menuIconHolder {
  position: absolute;
  right: 15px;
  top: 10px; }

.bar1, .bar2, .bar3 {
  width: 35px;
  height: 5px;
  background-color: rgba(255, 255, 255, 0.75);
  margin: 6px 0;
  transition: 0.4s;
  border-radius: 2px; }

#learnMore {
  height: 50px;
  width: 200px;
  margin-top: 100px;
  border: 3px solid #5E5E5E;
  text-align: center;
  font-family: quicksand, Segoe, Segoe UI, DejaVu Sans, Trebuchet MS, Verdana," sans-serif";
  font-size: 1.5em;
  background: none;
  border-radius: 6px;
  color: #5E5E5E; }

#learnMore:hover {
  opacity: 0.8;
  transition: 0.5s;
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
  cursor: pointer; }

.container {
  margin-left: auto;
  margin-right: auto;
  height: 300px;
  width: 50%;
  padding: 5px;
  background: none; }

.container-double {
  margin-left: auto;
  margin-right: auto;
  height: 600px;
  width: 50%;
  padding: 5px;
  background: none; }

.container-left {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start; }

.container-centre {
  display: flex;
  flex-direction: column;
  align-items: center; }

.container-header { 
  font-family: Gotham Light, Gill Sans, Gill Sans MT, Myriad Pro, DejaVu Sans Condensed, Helvetica, Arial," sans-serif";
  text-align: center;
  margin-top: 20px;
  margin-bottom: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  }
  
 .container-header h3
 {
	 display: inline;
	 margin-top: 20px;
	 max-width: 75%;
	 text-align: left;
 }

.container p {
  max-width: 600px;
  font-family: quicksand, Segoe, Segoe UI, DejaVu Sans, Trebuchet MS, Verdana," sans-serif";
  padding: 1px;
  margin: 10px; }

.container-quicksand-font {
  font-family: quicksand, Segoe, Segoe UI, DejaVu Sans, Trebuchet MS, Verdana," sans-serif"; }

.container-image img {
  width: 50%;
  height: auto; }

.container-autoheight {
  height: auto; }

.container-nopadding {
  padding: 0; }

.container-nomargin {
  margin: 0; }

.team-row {
  width: 100%;
  height: auto; 
  margin-top: 20px; }

#theteam-header {
  font-size: 2em;
  text-align: center;
  font-family: Gotham, Gill Sans, Gill Sans MT, Myriad Pro, DejaVu Sans Condensed, Helvetica, Arial," sans-serif";
  color: white;
  margin-top: 5% }

.name {
  text-align: center;
  color: white; }

.name h1 {
  font-family: Gotham, Gill Sans, Gill Sans MT, Myriad Pro, DejaVu Sans Condensed, Helvetica, Arial," sans-serif";
  font-size: 1.5em; }

.person-image {
  text-align: center; }

.description {
  display: flex;
  flex-direction: row;
  align-items: center;
  color: white;
  font-family: Gotham, "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, sans-serif; }

.inner {
  width: 1000%;
  padding: 10px;
  display: flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;}

.inner h1 {
  font-family: Arvo, Gill Sans, Gill Sans MT, Myriad Pro, DejaVu Sans Condensed, Helvetica, Arial," sans-serif";
  font-size: 16px; }

.inner-text
{
	width: 50%;
}

#team {
  background: rgba(0, 0, 0, 0.25); }

.service-wrapper {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap; }

.serviceSplitRow {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap; }

.serviceSplit {
  width: 50%;
  height: 200px;
  box-sizing: border-box;
  margin: 0.5%; }

.serviceSplitSmall {
  width: 30%;
  height: 200px;
  box-sizing: border-box;
  margin: 0.5%; }

.serviceSplitLeft {
  display: flex;
  align-items: center;
  justify-content: flex-start; }

.serviceSplitCentre {
  display: flex;
  align-items: center;
  justify-content: center; }

.serviceSplitRight {
  display: flex;
  align-items: center;
  justify-content: flex-end; }

.serviceSplitText {
  width: 90%;
  height: 90%;
  margin-right: 5px; }

.diamond {
  width: 100px;
  height: 100px;
  border: 1px solid #FFFFFF;
  transform: rotate(45deg); }

.diamondMarginRight {
  margin-right: 50px; }

.diamondMarginLeft {
  margin-right: 50px; }

.diamondText {
  height: 100%;
  width: 100%;
  font-size: 40px;
  font-family: Arvo, Gill Sans, Gill Sans MT, Myriad Pro, DejaVu Sans Condensed, Helvetica, Arial," sans-serif";
  color: #FFFFFF;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: rotate(-45deg); }

.serviceSplitHeader {
  display: flex;
  justify-content: center; }

.serviceSplitTextContainer {
  width: 100%;
  height: 100%;
  margin-left: 10px;
  margin-right: 10px;
  display: flex;
  align-items: center;
  justify-content: center; }

.serviceSplitTextContainer h2 {
  font-family: quicksand, Segoe, Segoe UI, DejaVu Sans, Trebuchet MS, Verdana," sans-serif"; }

.serviceSplitText {
  width: 100%;
  height: 100%; }

.intro {
  height: auto; }

.intro ul li {
  font-family: quicksand, Segoe, Segoe UI, DejaVu Sans, Trebuchet MS, Verdana," sans-serif";
  list-style-type: circle; }

#radial-menu-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 5%; }

#radialMenuWrapper {
  max-width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }

#radialMenu {
  position: relative;
  bottom: 7.5%;
  width: 100%;
  height: auto; }

.secondIntro {
  background-image: url(home-office-336373_1920.jpg);
  height: auto; }

#contact {
  background: #2D4059;
  /* For browsers that do not support gradients */
  /*background: -webkit-linear-gradient(rgba(15,20,82,0.8), rgba(15,20,82,0.85)); /* For Safari 5.1 to 6.0 */
  /*background: -o-linear-gradient(rgba(15,20,82,0.8), rgba(15,20,82,0.85)); /* For Opera 11.1 to 12.0 */
  /*background: -moz-linear-gradient(rgba(15,20,82,0.8), rgba(15,20,82,0.85)); /* For Firefox 3.6 to 15 */
  /*  background: linear-gradient(rgba(15,20,82,0.8), rgba(15,20,82,0.85)); /* Standard syntax */
  height: auto;
  color: white; 
  display: flex;
  justify-content: center;}

#contactBannerPic {
  height: 50vh;
  overflow: hidden;
  background: url(asia-1782429_1920.jpg);
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }

#contactBannerPic h2 {
  text-align: center;
  font-family: Gotham Light, Gill Sans, Gill Sans MT, Myriad Pro, DejaVu Sans Condensed, Helvetica, Arial," sans-serif";
  color: rgba(255, 255, 255, 0.75); }

#mapContactHeader {
  text-align: center; }

#mapContactHeader h1 {
  font-family: Lato, Gill Sans, Gill Sans MT, Myriad Pro, DejaVu Sans Condensed, Helvetica, Arial," sans-serif";
  margin-top: 10px;
  padding: 5px;
  font-size: 2em; }

#address-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;  }

#contactForm {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start; }

#contactInfo {
  width: 100%;
  height: auto; }

.contactInfoRow {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row; }

#inputDiv {
  width: 100%; }

#inputDiv h1, #inputDiv h2
{
	font-family: Gotham Light, "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, sans-serif;
}

#inputDiv h3 {
  font-family: Gotham, Gill Sans, Gill Sans MT, Myriad Pro, DejaVu Sans Condensed, Helvetica, Arial," sans-serif";
  font-weight: 100; }

#message {
  width: 212px;
  height: 200px; }

.requireText {
  margin-top: 5px;
  margin-bottom: 5px;
  font-family: Gotham, Gill Sans, Gill Sans MT, Myriad Pro, DejaVu Sans Condensed, Helvetica, Arial," sans-serif"; }

#checkboxes-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%; }

#financeAdvisorCheckboxes h1, #businessAdvisorCheckboxes h1, #strategicAdvisorCheckboxes h1 {
  margin-left: 5px;
  margin-top: 5px;
  margin-bottom: 5px; }

input[type="checkbox"] {
  width: 0.8em;
  height: 0.8em;
  margin: 0;
  margin-right: 5px; }

.optionCheckbox {
  width: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: 5px;
  margin-top: 5px;
  margin-bottom: 5px; }

.optionCheckbox h2 {
  font-family: Gotham, Gill Sans, Gill Sans MT, Myriad Pro, DejaVu Sans Condensed, Helvetica, Arial," sans-serif";
  font-size: 16px; }

#JobTitle {
  width: auto;
  font-family: Gotham, Gill Sans, Gill Sans MT, Myriad Pro, DejaVu Sans Condensed, Helvetica, Arial," sans-serif";
  font-weight: 300;
  font-size: 16px;
  padding-left: 1.5px; }

#JobTitle option {
  width: auto;
  font-family: Gotham, Gill Sans, Gill Sans MT, Myriad Pro, DejaVu Sans Condensed, Helvetica, Arial," sans-serif";
  font-weight: 300;
  font-size: 16px;
  padding-left: 1.5px; }

#FirstName {
  width: 42.25%; }

#Submit:hover {
  opacity: 0.5;
  transition: opacity 0.5s;
  cursor: pointer; }

#hearAboutUsDropdownList {
  width: 50%;
  height: auto;
  font-family: Gotham, Gill Sans, Gill Sans MT, Myriad Pro, DejaVu Sans Condensed, Helvetica, Arial," sans-serif" !important;
  font-weight: 300;
  font-size: 16px;
  padding-left: 1px;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: 5px; }

#hearAboutUsDropdownList option{
  font-weight: 300;
}

#comment {
  width: 100%;
  padding: 1px;
  font-family: Gotham, Gill Sans, Gill Sans MT, Myriad Pro, DejaVu Sans Condensed, Helvetica, Arial," sans-serif";
  font-size: 16px; }

#comments {
  width: 100%; }

#address {
  width: 45%;
  font-family: Gotham, Gill Sans, Gill Sans MT, Myriad Pro, DejaVu Sans Condensed, Helvetica, Arial," sans-serif";
  padding-left: 5px;
  }
  
#address h1, h2, h3
{
  font-family: Gotham, Gill Sans, Gill Sans MT, Myriad Pro, DejaVu Sans Condensed, Helvetica, Arial," sans-serif";
  font-weight: 100;
}

#addressValue {
}

.map-wrapper {
  width: 100%;
  height: 600px; }

#map {
  height: 95%;
  width: 95%;
  margin: 0; }

#global {
  background: #2D4059; }

#global h1, #global h2, #global h3 {
  color: white; }

#triple-image-holder {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  padding-top: 5%;
  padding-bottom: 5%; }

.imageLink {
  width: 30%;
  height: 300px; }

.imageLink img {
  width: 100%; }

.imageLink h2 {
  font-family: Gotham, Gill Sans, Gill Sans MT, Myriad Pro, DejaVu Sans Condensed, Helvetica, Arial," sans-serif";
  text-align: center;
  color: rgba(255, 255, 255, 0.75);
  margin-bottom: 5px; }

.imageLinkText {
  font-family: Gotham, Gill Sans, Gill Sans MT, Myriad Pro, DejaVu Sans Condensed, Helvetica, Arial," sans-serif";
  color: white;
  padding: 5px; }

.imageLinkButtonHolder {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 7.5%; }

.imageLinkButton {
  height: 30px;
  width: 50%;
  border: 2px white solid;
  border-radius: 6px;
  background: none;
  color: #FFFFFF;
  cursor: pointer;
  font-size: 1em; }

.imageLinkButton:hover {
  opacity: 0.8;
  transition: 0.5s;
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
  cursor: pointer; }

#methodology-wrapper {
  position: relative;
  height: auto;
  width: auto;
  display: -webkit-flex;
  flex-direction: column;
  align-items: center;  }

#methodology-points {
  display: -webkit-flex;
  flex-direction: row;
  margin-bottom: 20px;
  height: 100%;
  color: #2D4059; 
  font-family: Gotham, Gill Sans, Gill Sans MT, Myriad Pro, DejaVu Sans Condensed, Helvetica, Arial," sans-serif";}

.methodology-point-text{
	margin-left: 20px;
	margin-right: 20px;
  }

#methodology {
  width: 50%;
  height: auto;
  margin-top: 15px;
  margin-bottom: 15px;
  }

#methodology img {
  width: 100%;
  height: auto; }

#methodology-text {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }

#methodology-text-left {
  background: rgba(0, 0, 0, 0.25); }

#methodology-text-right {
  background: rgba(0, 0, 0, 0.75);
  color: white; }

.methodology-inner-text {
  width: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content:flex-start;
  font-family: Gotham, Gill Sans, Gill Sans MT, Myriad Pro, DejaVu Sans Condensed, Helvetica, Arial," sans-serif"; }

.methodology-inner-inner-text {
  width: 100%;
  text-align: left;
  margin-top: 25px;
  margin-bottom: 20px;
  max-width: 80%;
  margin-left: auto;
  margin-right: auto; 
  }

.methodology-inner-text h1 {
  font-family: Gotham Light, Gill Sans, Gill Sans MT, Myriad Pro, DejaVu Sans Condensed, Helvetica, Arial," sans-serif"; }

.spinner {
  width: 80px;
  height: 80px;
  border: 2px solid #f3f3f3;
  border-top: 3px solid #f25a41;
  border-radius: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  animation: spin 0.75s infinite linear; }

.sub-footer{
  height: auto;
  width: 100%;
  background: rgba(0, 0, 0, 0.75);
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-family: Gotham, "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, sans-serif;
  }

  .sub-footer-wrapper
  {
	  display: flex;
	  width: 80%;
	  flex-direction: row;
	  justify-content: space-around;	  
  }

  .sub-footer-sub
  {
	  height: 100%;
	  width: 30%;
	  padding: 15px;
  }

  .sub-footer-sub h1
  {
	  margin-bottom:5px;
	  font-family: Gotham Light, "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, sans-serif;
  }

  .sub-footer-sub ul li
  {
	  color: white;
  }
  
  .sub-footer-sub ul li a
  {
	  color: white;
	  text-decoration: none;
  }

.footer {
  height: auto;
  width: 100%;
  padding: 5px;
  background: rgba(0, 0, 0, 0.5);
  color: white;
  text-align: center;}

.footer p {
    margin-bottom: 0px !important;}

@keyframes spin {
  from {
    transform: rotate(0deg); }
  to {
    transform: rotate(360deg); } }
#overlay {
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.8);
  position: fixed;
  top: 0;
  left: 0; }

.m-fadeout {
  animation-name: fadeOut; }

.m-element_1 {
  animation-duration: 1s;
  transition-timing-function: ease-in;
  animation-fill-mode: both; }

@keyframes fadeOut {
  0% {
    opacity: 1; }
  100% {
    opacity: 0; } }
.m-fadein {
  animation-name: fadeIn; }

.m-element {
  animation-duration: 1.8s;
  transition-timing-function: ease-in;
  animation-fill-mode: both; }

.m-slideOutLeft {
  animation-name: slideOutLeft; }

.m-learnMoreSizeIn {
  animation-name: learnMoreSizeIn; }

/*Radial Menu*/
*, *:before, *:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

.absolute-center, .radial, .radial .centerText, .radial .btn .fa, .radial .btn.trigger .line, .subRotaterWrapper .subRotater .subBtnBtn, .subRotaterWrapper .subRotater .subBtnBtn .subBtnText {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%); }

.radial {
  width: 10em;
  height: 10em; }
  .radial .centerText {
    font-family: Gotham, Gill Sans, Gill Sans MT, Myriad Pro, DejaVu Sans Condensed, Helvetica, Arial," sans-serif";
    font-size: 30px;
    transition: color 1s;
    text-align: center; }
  .radial .btn {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background: rgba(255, 255, 255, 0.3);
    opacity: 0;
    z-index: -10;
    transition: opacity 1s, z-index 0.3s, transform 1s;
    transform: translateX(0);
    /*&:hover .fa {
      color: rgba(255,255,255, 1);
    }*/
    /*For trigger button*/ }
    .radial .btn .fa {
      font-size: 1.5em;
      transition: color 0.5s;
      z-index: 100;
      font-family: Gotham, Gill Sans, Gill Sans MT, Myriad Pro, DejaVu Sans Condensed, Helvetica, Arial," sans-serif";
      font-style: normal;
      text-align: center; }
    .radial .btn.trigger {
      opacity: 1;
      z-index: 100;
      cursor: pointer;
      transition: transform 0.3s;
      /*Hamburger Menu Lines*/ }
      .radial .btn.trigger:hover {
        transform: scale(1.3); }
        .radial .btn.trigger:hover .centerText {
          color: rgba(255, 255, 255, 0.5); }
        .radial .btn.trigger:hover .line {
          background-color: rgba(255, 255, 255, 0.7); }
          .radial .btn.trigger:hover .line:before, .radial .btn.trigger:hover .line:after {
            background-color: rgba(255, 255, 255, 0.7); }
      .radial .btn.trigger .line {
        width: 60%;
        height: 6px;
        background: #000;
        border-radius: 6px;
        transition: background-color 0.3s, height 0.3s, top 0.3s; }
        .radial .btn.trigger .line:before, .radial .btn.trigger .line:after {
          content: "";
          display: block;
          position: absolute;
          left: 0;
          width: 100%;
          height: 6px;
          background: #000;
          border-radius: 6px;
          transition: background-color 0.3s, transform 0.3s; }
        .radial .btn.trigger .line:before {
          top: -12px;
          transform-origin: 15% 100%; }
        .radial .btn.trigger .line:after {
          top: 12px;
          transform-origin: 25% 30%; }
  .radial .rotater {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform-origin: 50% 50%; }
  .radial.radialActive .btn-icon {
    opacity: 1;
    z-index: 50; }
  .radial.radialActive .subTrigger {
    opacity: 1; }
  .radial.radialActive .trigger .line {
    height: 0px;
    top: 45%; }
    .radial.radialActive .trigger .line:before {
      transform: rotate(45deg);
      width: 110%; }
    .radial.radialActive .trigger .line:after {
      transform: rotate(-45deg);
      width: 110%; }

.rotater:nth-child(1) {
  transform: rotate(-60deg); }

.radial.radialActive .rotater:nth-child(1) .btn-icon {
  transform: translateY(-12em) rotate(60deg); }

.rotater:nth-child(2) {
  transform: rotate(60deg); }

.radial.radialActive .rotater:nth-child(2) .btn-icon {
  transform: translateY(-12em) rotate(-60deg); }

.rotater:nth-child(3) {
  transform: rotate(180deg); }

.radial.radialActive .rotater:nth-child(3) .btn-icon {
  transform: translateY(-12em) rotate(-180deg); }

/*2nd Radial Arm*/
.subTrigger {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  cursor: pointer;
  transition: scale 0.25s; }

.subTrigger:hover .fa {
  color: white; }

.subRotaterWrapper {
  bottom: -50%;
  width: 10em;
  height: 10em; }
  .subRotaterWrapper .subRotater {
    position: relative;
    width: 100%;
    height: 100%;
    transform-origin: -50% -50%;
    cursor: pointer; }
    .subRotaterWrapper .subRotater .subBtn {
      position: absolute;
      width: 100%;
      height: 100%;
      border-radius: 50%;
      opacity: 0;
      cursor: none;
      z-index: 50;
      transition: opacity 1s, z-index 0.3s, transform 1s; }
    .subRotaterWrapper .subRotater .subBtnBtn {
      width: 7.5em;
      height: 7.5em;
      border-radius: 50%;
      opacity: 0;
      cursor: text;
      /*pointer-events: none;*/
      z-index: 100;
      transition: opacity 1s, z-index 0.3s, transform 1s; }
      .subRotaterWrapper .subRotater .subBtnBtn .subBtnText {
        color: white;
        font-family: Gotham, Gill Sans, Gill Sans MT, Myriad Pro, DejaVu Sans Condensed, Helvetica, Arial," sans-serif";
        font-weight: 300; }
  .subRotaterWrapper.subActive1 .subBtn {
    opacity: 1 !important; }
  .subRotaterWrapper.subActive1 .subBtnBtn {
    opacity: 1 !important; }
  .subRotaterWrapper.subActive2 .subBtn {
    opacity: 1 !important; }
  .subRotaterWrapper.subActive2 .subBtnBtn {
    opacity: 1 !important; }
  .subRotaterWrapper.subActive3 .subBtn {
    opacity: 1 !important; }
  .subRotaterWrapper.subActive3 .subBtnBtn {
    opacity: 1 !important; }

.blue {
  background: #062a73; }

.darkBlue {
  background: #0f1452; }

.darkerBlue {
  background: #0a0e32; }

.rounded-corner{
  border-radius: 10px;
}

.margin-top-small{
  margin-top: 5em;
}

.margin-bottom-small{
  margin-bottom: 5em;
}

.separator{
  content: "";
  display: block;
  margin-top: 2em;
  margin-bottom: 2em;
  border-bottom: 1.5px solid rgba(0,0,0,0.20);
  width: 50%;
}

#ourApproachCard{
  background-color: #2D4059;
  color: white;
  cursor: pointer;
  font-family: Gotham SemiBold, Gill Sans, Gill Sans MT, Myriad Pro, DejaVu Sans Condensed, Helvetica, Arial," sans-serif";
  background: url("aircraft-2260735_1920.jpg");
  background-position: center;
  background-size: cover;
}

#whatWeDoCard{
  background-color: #2D4059;
  color: white;
  cursor: pointer;
  font-family: Gotham SemiBold, Gill Sans, Gill Sans MT, Myriad Pro, DejaVu Sans Condensed, Helvetica, Arial," sans-serif";
  background: url("business-1209705_1920.jpg");
  background-position: center;
  background-size: cover;
}

h1{
  font-family: Gotham, Gill Sans, Gill Sans MT, Myriad Pro, DejaVu Sans Condensed, Helvetica, Arial," sans-serif" !important; 
  font-weight: bolder !important;
}

h2{
  font-family: Gotham, Gill Sans, Gill Sans MT, Myriad Pro, DejaVu Sans Condensed, Helvetica, Arial," sans-serif" !important; 
  font-weight: 400 !important;
}

h3{
  font-family: Gotham, Gill Sans, Gill Sans MT, Myriad Pro, DejaVu Sans Condensed, Helvetica, Arial," sans-serif" !important; 
  font-weight: 400 !important;
}

h4{
  font-family: Gotham, Gill Sans, Gill Sans MT, Myriad Pro, DejaVu Sans Condensed, Helvetica, Arial," sans-serif" !important; 
  font-weight: 400 !important;
}

h5{
  font-family: Gotham, Gill Sans, Gill Sans MT, Myriad Pro, DejaVu Sans Condensed, Helvetica, Arial," sans-serif" !important; 
  font-weight: 300 !important;
}

h6{
  font-family: Gotham, Gill Sans, Gill Sans MT, Myriad Pro, DejaVu Sans Condensed, Helvetica, Arial," sans-serif" !important; 
  font-weight: 300 !important;
}

p{
  font-family: Gotham, Gill Sans, Gill Sans MT, Myriad Pro, DejaVu Sans Condensed, Helvetica, Arial," sans-serif";
  font-weight: 300;
}

#ourApproach:hover{
  background-color: rgba(45, 64, 89, 0.8);
}

.custom-card{
  text-align: center;
}

.custom-card:hover{
  opacity: 0.5;
}

.custom-card h3{
  line-height: 10em;
}

.height-small{
  height: 10em;
}

.height-medium{
  height: 20em;
}

.height-large{
  height: 30em;
}

.progress-arrow{
  text-align: center;
  margin-bottom: 1rem;
}

.progress-arrow img{
  width: 10%;
  
}

.phase-area {
  color: #2D4059;
  flex-direction: row !important;
}

.phase-area img{
  width: 25% !important;
}

.phase-area-inner{
}

.padding-small{
  padding: 2.5%;
}

.padding-medium{
  padding: 10px;
}

.padding-large{
  padding: 15px;
}

/*Sub 4 elements for Finance Advisor*/
#subRotaterWrapper1 .subBtn:nth-child(1) {
  transform: rotate(22.5deg); }

#subRotaterWrapper1 .subBtn:nth-child(1) .subBtnBtn {
  transition-delay: 0s; }

.subActive1 .subBtn:nth-child(1) .subBtnBtn {
  transform: translateY(-15em) rotate(-22.5deg);
  transition-delay: 0.5s; }

#subRotaterWrapper1 .subBtn:nth-child(2) {
  transform: rotate(-22.5deg); }

#subRotaterWrapper1 .subBtn:nth-child(2) .subBtnBtn {
  transition-delay: 0.25s; }

.subActive1 .subBtn:nth-child(2) .subBtnBtn {
  transform: translateY(-15em) rotate(22.5deg);
  transition-delay: 0.5s; }

#subRotaterWrapper1 .subBtn:nth-child(3) {
  transform: rotate(-67.5deg); }

#subRotaterWrapper1 .subBtn:nth-child(3) .subBtnBtn {
  transition-delay: 0.5s; }

.subActive1 .subBtn:nth-child(3) .subBtnBtn {
  transform: translateY(-15em) rotate(67.5deg);
  transition-delay: 0.5s; }

#subRotaterWrapper1 .subBtn:nth-child(4) {
  transform: rotate(-112.5deg); }

#subRotaterWrapper1 .subBtn:nth-child(4) .subBtnBtn {
  transition-delay: 0.75s; }

.subActive1 .subBtn:nth-child(4) .subBtnBtn {
  transform: translateY(-15em) rotate(112.5deg);
  transition-delay: 0.5s; }

#subRotaterWrapper1 .subBtn:nth-child(5) {
  transform: rotate(-157.5deg); }

#subRotaterWrapper1 .subBtn:nth-child(5) .subBtnBtn {
  transition-delay: 0.75s; }

.subActive1 .subBtn:nth-child(5) .subBtnBtn {
  transform: translateY(-15em) rotate(157.5deg);
  transition-delay: 0.5s; }

/*Sub 5 elements for Business Advisor*/
#subRotaterWrapper2 .subBtn:nth-child(1) {
  transform: rotate(-18deg); }

#subRotaterWrapper2 .subBtn:nth-child(1) .subBtnBtn {
  transition-delay: 0s; }

.subActive2 .subBtn:nth-child(1) .subBtnBtn {
  transform: translateY(-16em) rotate(18deg);
  transition-delay: 0.5s; }

#subRotaterWrapper2 .subBtn:nth-child(2) {
  transform: rotate(18deg); }

#subRotaterWrapper2 .subBtn:nth-child(2) .subBtnBtn {
  transition-delay: 0.25s; }

.subActive2 .subBtn:nth-child(2) .subBtnBtn {
  transform: translateY(-16em) rotate(-18deg);
  transition-delay: 0.5s; }

#subRotaterWrapper2 .subBtn:nth-child(3) {
  transform: rotate(54deg); }

#subRotaterWrapper2 .subBtn:nth-child(3) .subBtnBtn {
  transition-delay: 0.5s; }

.subActive2 .subBtn:nth-child(3) .subBtnBtn {
  transform: translateY(-16em) rotate(-54deg);
  transition-delay: 0.5s; }

#subRotaterWrapper2 .subBtn:nth-child(4) {
  transform: rotate(90deg); }

#subRotaterWrapper2 .subBtn:nth-child(4) .subBtnBtn {
  transition-delay: 0.75s; }

.subActive2 .subBtn:nth-child(4) .subBtnBtn {
  transform: translateY(-16em) rotate(-90deg);
  transition-delay: 0.5s; }

#subRotaterWrapper2 .subBtn:nth-child(5) {
  transform: rotate(126deg); }

#subRotaterWrapper2 .subBtn:nth-child(5) .subBtnBtn {
  transition-delay: 1s; }

.subActive2 .subBtn:nth-child(5) .subBtnBtn {
  transform: translateY(-16em) rotate(-126deg);
  transition-delay: 0.5s; }

/*Sub 3 elements for Strategic Advisor*/
#subRotaterWrapper3 .subBtn:nth-child(1) {
  transform: rotate(22.5deg); }

#subRotaterWrapper3 .subBtn:nth-child(1) .subBtnBtn {
  transition-delay: 0s; }

.subActive3 .subBtn:nth-child(1) .subBtnBtn {
  transform: translateY(-10em) rotate(-22.5deg) translateX(-15em);
  transition-delay: 0.5s; }

#subRotaterWrapper3 .subBtn:nth-child(2) {
  transform: rotate(-22.5deg); }

#subRotaterWrapper3 .subBtn:nth-child(2) .subBtnBtn {
  transition-delay: 0.25s; }

.subActive3 .subBtn:nth-child(2) .subBtnBtn {
  transform: translateY(2em) rotate(22.5deg) translateX(-15em);
  transition-delay: 0.5s; }

#subRotaterWrapper3 .subBtn:nth-child(3) {
  transform: rotate(-67.5deg); }

#subRotaterWrapper3 .subBtn:nth-child(3) .subBtnBtn {
  transition-delay: 0.5s; }

.subActive3 .subBtn:nth-child(3) .subBtnBtn {
  transform: translateY(30em) rotate(67.5deg) translateX(-34em);
  transition-delay: 0.5s; }

#subRotaterWrapper3 .subBtn:nth-child(4) {
  transform: rotate(-112.5deg); }

#subRotaterWrapper3 .subBtn:nth-child(4) .subBtnBtn {
  transition-delay: 0.75s; }

.subActive3 .subBtn:nth-child(4) .subBtnBtn {
  transform: translateY(-28em) rotate(112.5deg) translateX(32em);
  transition-delay: 0.5s; }

#subRotaterWrapper3 .subBtn:nth-child(5) {
  transform: rotate(-157.5deg); }

#subRotaterWrapper3 .subBtn:nth-child(5) .subBtnBtn {
  transition-delay: 0.75s; }

.subActive3 .subBtn:nth-child(5) .subBtnBtn {
  transform: translateY(-2em) rotate(157.5deg) translateX(12em);
  transition-delay: 0.5s; }

/*rotate($deg/2 - $deg * ($i - 1));*/
/*Fade in*/
@keyframes fadeIn {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }
@keyframes learnMoreSizeIn {
  0% {
    height: 0px;
    width: 0px; }
  100% {
    height: 50px;
    width: 200px; } }
/*Page will slide out to the left*/
@keyframes slideOutLeft {
  0% {
    left: auto; }
  100% {
    left: 100%; } }
@media screen and (max-width: 1200px) {
  header {
    align-content: center;
    justify-content: center; }

  #whatwedo
  {
	  color:white;
  }

  #landingPageLogo {
    width: 50%; }

  .menu {
    display: inline-block;
    width: 100%;
    height: 100%; }

  .menu p{
    position: relative;
    top: 4px;
  }

  .nav {
    width: 100%;
    display: inline-block; }

  .navlogo {
    display: none !important; }

  .nav-wrapper ul {
    display: none; }

  .navShowing {
    display: block !important;
    margin-top: 5px !important;
    margin-bottom: 10px !important; }

  .add10margintop {
    margin-top: 0.4em; }

  .nav-wrapper ul li {
    box-sizing: border-box;
    width: 100%;
    text-align: left;
    background: rgba(0, 0, 0, 0.8); }

  .nav-wrapper {
    height: 100%; }

  .nav-wrapper a {
    display: block;
    padding: 0;
    width: inherit;
    height: inherit; }

  .nav-wrapper a {
    text-align: left; }

  .dropdown-content {
    width: 100%; }

  .dropdown-content a {
    padding: 10px; }

  #landingpagelogo
  {
	  width: 30%;
  }
}
/*Media queries for 1024px and below*/
@media screen and (max-width: 1024px) {
	
  body
  {
	  margin: 0;
  }
	
  h1 {
    font-size: 150% !important; }

  h2 {
    font-size: 125% !important; }

  h3 {
    font-size: 100% !important; }

  h4 {
    font-size: 75% !important; }

  h5 {
    font-size: 70% !important; }

  p{
    font-size: 75% !important;
  }

  header {
    align-content: center;
    justify-content: center; }

  #whatwedo
  {
	  color:white;
  }

  #landingPageLogo {
    width: 50%; }

  .menu {
    display: inline-block;
    width: 100%;
    height: 100%; }

  .nav {
    width: 100%;
    display: inline-block; }

  .navlogo {
    display: none !important; }

  .nav-wrapper ul {
    display: none; }

  .navShowing {
    display: block !important;
    margin-top: 5px !important;
    margin-bottom: 10px !important; }

  .add10margintop {
    margin-top: 0.4em; }

  .nav-wrapper ul li {
    box-sizing: border-box;
    width: 100%;
    text-align: left;
    background: rgba(0, 0, 0, 0.8); }

  .nav-wrapper {
    height: 100%; }

  .nav-wrapper a {
    display: block;
    padding: 0;
    width: inherit;
    height: inherit; }

  .nav-wrapper a {
    text-align: left; }

  .dropdown-content {
    width: 100%; }

  .dropdown-content a {
    padding: 10px; }

  #landingpagelogo
  {
	  width: 30%;
  }

  .phase-area img{
    margin-top: 2em;
    margin-bottom: 2em;
  }
  
  .phase-area-inner{
    flex-direction: column !important;
    align-items: center;
  }

  input[type="submit"] {
    align-self: flex-end;
    width: 100%;
    cursor: pointer;
    border-radius: 10px;
  margin-top: 2em;}

  #learnMore {
    margin-top: 40px;
    width: 100%; 
	font-size: 0.5em;}

  #learnMore_1 {
    width: 50%; }

  .buttons {
    height: auto;
    padding-top: 20px; }

  .oneButton {
    width: 40%;
    margin-bottom: 20px; }

  .buttons-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap; }

  .buttonHeader {
    width: 60%;
    text-align: center;
    color: white;
    padding-top: 20px;
    margin-top: 60px;
    margin-bottom: -20px; }

  .menu {
    display: block; }

  .container {
    height: auto;
	width: 100%;
    margin: 0; }

  .container-double {
    height: auto;
	width: 100%;
    margin: 0; }

  #address-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
	  padding-right: 5px;}

  #contactBannerPic {
    height: 25vh; }

  input {
    width: 50%; }

  #inputDiv {
    width: 100%; }

  #JobTitle {
    width: 12%; }

  #FirstName {
    width: 37%; }

  #address {
    width: 100%;
    padding-left: 5px; }

  .menu.active a{
    background: none !important;
  } 

  .active {
    background: rgba(0, 0, 0, 0.25) !important; }

  #radialMenuWrapper {
    height: 80vh; }

  .radial {
    width: 7.5em;
    height: 7.5em;
    border-radius: 50%; }

  .radial .centerText {
    font-size: 1.5em; }

  .radial .btn .fa {
    font-size: 1.25em; }

  .subRotaterWrapper {
    width: 7.5em;
    height: 7.5em; }

  .subRotaterWrapper .subRotater .subBtn {
    width: 7.5em;
    height: 7.5em;
    border-radius: 50%; }

  .subRotaterWrapper .subRotater .subBtnBtn {
    width: 5.5em;
    height: 5.5em;
    border-radius: 50%; }

  .subRotaterWrapper .subRotater .subBtnBtn .subBtnText {
    color: white;
    font-size: 0.75em; }

  .rotater:nth-child(1) {
    transform: rotate(-60deg); }

  .radial.radialActive .rotater:nth-child(1) .btn-icon {
    transform: translateY(-10em) rotate(60deg); }

  .rotater:nth-child(2) {
    transform: rotate(60deg); }

  .radial.radialActive .rotater:nth-child(2) .btn-icon {
    transform: translateY(-10em) rotate(-60deg); }

  .rotater:nth-child(3) {
    transform: rotate(180deg); }

  .radial.radialActive .rotater:nth-child(3) .btn-icon {
    transform: translateY(-10em) rotate(-180deg); }

  /*Sub 4 elements for Finance Advisor*/
  #subRotaterWrapper1 .subBtn:nth-child(1) {
    transform: rotate(22.5deg); }

  #subRotaterWrapper1 .subBtn:nth-child(1) .subBtnBtn {
    transition-delay: 0s; }

  .subActive1 .subBtn:nth-child(1) .subBtnBtn {
    transform: translateY(-10em) rotate(-22.5deg) translateX(0em);
    transition-delay: 0.5s; }

  #subRotaterWrapper1 .subBtn:nth-child(2) {
    transform: rotate(-22.5deg); }

  #subRotaterWrapper1 .subBtn:nth-child(2) .subBtnBtn {
    transition-delay: 0.25s; }

  .subActive1 .subBtn:nth-child(2) .subBtnBtn {
    transform: translateY(-10em) rotate(22.5deg) translateX(0em);
    transition-delay: 0.5s; }

  #subRotaterWrapper1 .subBtn:nth-child(3) {
    transform: rotate(-67.5deg); }

  #subRotaterWrapper1 .subBtn:nth-child(3) .subBtnBtn {
    transition-delay: 0.5s; }

  .subActive1 .subBtn:nth-child(3) .subBtnBtn {
    transform: translateY(-10em) rotate(67.5deg) translateX(0em);
    transition-delay: 0.5s; }

  #subRotaterWrapper1 .subBtn:nth-child(4) {
    transform: rotate(-112.5deg); }

  #subRotaterWrapper1 .subBtn:nth-child(4) .subBtnBtn {
    transition-delay: 0.75s; }

  .subActive1 .subBtn:nth-child(4) .subBtnBtn {
    transform: translateY(-10em) rotate(112.5deg) translateX(0em);
    transition-delay: 0.5s; }

  #subRotaterWrapper1 .subBtn:nth-child(5) {
    transform: rotate(-157.5deg); }

  #subRotaterWrapper1 .subBtn:nth-child(5) .subBtnBtn {
    transition-delay: 0.75s; }

  .subActive1 .subBtn:nth-child(5) .subBtnBtn {
    transform: translateY(-10em) rotate(157.5deg) translateX(0em);
    transition-delay: 0.5s; }

  /*Sub 5 elements for Business Advisor*/
  #subRotaterWrapper2 .subBtn:nth-child(1) {
    transform: rotate(-18deg); }

  #subRotaterWrapper2 .subBtn:nth-child(1) .subBtnBtn {
    transition-delay: 0s; }

  .subActive2 .subBtn:nth-child(1) .subBtnBtn {
    transform: translateY(-11.5em) rotate(18deg);
    transition-delay: 0.5s; }

  #subRotaterWrapper2 .subBtn:nth-child(2) {
    transform: rotate(18deg); }

  #subRotaterWrapper2 .subBtn:nth-child(2) .subBtnBtn {
    transition-delay: 0.25s; }

  .subActive2 .subBtn:nth-child(2) .subBtnBtn {
    transform: translateY(-11.5em) rotate(-18deg);
    transition-delay: 0.5s; }

  #subRotaterWrapper2 .subBtn:nth-child(3) {
    transform: rotate(54deg); }

  #subRotaterWrapper2 .subBtn:nth-child(3) .subBtnBtn {
    transition-delay: 0.5s; }

  .subActive2 .subBtn:nth-child(3) .subBtnBtn {
    transform: translateY(-11.5em) rotate(-54deg);
    transition-delay: 0.5s; }

  #subRotaterWrapper2 .subBtn:nth-child(4) {
    transform: rotate(90deg); }

  #subRotaterWrapper2 .subBtn:nth-child(4) .subBtnBtn {
    transition-delay: 0.75s; }

  .subActive2 .subBtn:nth-child(4) .subBtnBtn {
    transform: translateY(-11.5em) rotate(-90deg);
    transition-delay: 0.5s; }

  #subRotaterWrapper2 .subBtn:nth-child(5) {
    transform: rotate(126deg); }

  #subRotaterWrapper2 .subBtn:nth-child(5) .subBtnBtn {
    transition-delay: 1s; }

  .subActive2 .subBtn:nth-child(5) .subBtnBtn {
    transform: translateY(-11.5em) rotate(-126deg);
    transition-delay: 0.5s; }

  /*Sub 3 elements for Strategic Advisor*/
  #subRotaterWrapper3 .subBtn:nth-child(1) {
    transform: rotate(22.5deg); }

  #subRotaterWrapper3 .subBtn:nth-child(1) .subBtnBtn {
    transition-delay: 0s; }

  .subActive3 .subBtn:nth-child(1) .subBtnBtn {
    transform: translateY(-8em) rotate(-22.5deg) translateX(-11em);
    transition-delay: 0.5s; }

  #subRotaterWrapper3 .subBtn:nth-child(2) {
    transform: rotate(-22.5deg); }

  #subRotaterWrapper3 .subBtn:nth-child(2) .subBtnBtn {
    transition-delay: 0.25s; }

  .subActive3 .subBtn:nth-child(2) .subBtnBtn {
    transform: translateY(2em) rotate(22.5deg) translateX(-12em);
    transition-delay: 0.5s; }

  #subRotaterWrapper3 .subBtn:nth-child(3) {
    transform: rotate(-67.5deg); }

  #subRotaterWrapper3 .subBtn:nth-child(3) .subBtnBtn {
    transition-delay: 0.5s; }

  .subActive3 .subBtn:nth-child(3) .subBtnBtn {
    transform: translateY(24em) rotate(67.5deg) translateX(-27em);
    transition-delay: 0.5s; }

  #subRotaterWrapper3 .subBtn:nth-child(4) {
    transform: rotate(-112.5deg); }

  #subRotaterWrapper3 .subBtn:nth-child(4) .subBtnBtn {
    transition-delay: 0.75s; }

  .subActive3 .subBtn:nth-child(4) .subBtnBtn {
    transform: translateY(-18em) rotate(112.5deg) translateX(22em);
    transition-delay: 0.5s; }

  #subRotaterWrapper3 .subBtn:nth-child(5) {
    transform: rotate(-157.5deg); }

  #subRotaterWrapper3 .subBtn:nth-child(5) .subBtnBtn {
    transition-delay: 0.75s; }

  .subActive3 .subBtn:nth-child(5) .subBtnBtn {
    transform: translateY(0em) rotate(157.5deg) translateX(8em);
    transition-delay: 0.5s; }

  #methodology {
    width: 100%; 
	text-align: center;}

  #methodology-text-left, #methodology-text-right
  {
	  height: auto;
  }

  #methodology img {
    width: 90%;
    height: auto; }

  .methodology-inner-text {
    width: 100%; }

  .methodology-inner-inner-text{
	  margin-top: 5px;
	  margin-bottom: 20px;
  }

  #methodology-text {
    flex-direction: column; }

  #methodology-wrapper {
    flex-direction: column; }
	
  #methodology-points{
	flex-direction: column;  
  }

  #triple-image-holder {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    padding-top: 5%;
    padding-bottom: 5%; }

  .imageLink {
    width: 50%;
    height: 100%;
    padding: 5px; } 
  
  #centerMapContact{
	width: 100%;  
  }
	
}
	
  
@media screen and (max-width: 768px) {
	
  .container, .container-double {
    margin: 0; }

  .buttons {
    height: auto;
    padding-top: 20px; }

  .oneButton {
    width: 80%;
    margin-bottom: 20px; }

  .buttons-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center; }

  .sideFiller {
    display: none; }

  .description {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white; }

  .inner {
    width: 100%; }

  .diamond {
    height: 50px;
    width: 50px; }

  .diamondText {
    font-size: 20px; }

  .serviceSplitHeader h2 {
    font-size: 24px; } 
	
   .radial {
    width: 5em;
    height: 5em;
    border-radius: 50%; }

  .radial .centerText {
    font-size: 1.25em; }

  .radial .btn .fa {
    font-size: 1em; }

  .subRotaterWrapper {
    width: 7.5em;
    height: 7.5em; }

  .subRotaterWrapper .subRotater .subBtn {
    width: 7.5em;
    height: 7.5em;
    border-radius: 50%; }

  .subRotaterWrapper .subRotater .subBtnBtn {
    width: 4em;
    height: 4em;
    border-radius: 50%; }

  .subRotaterWrapper .subRotater .subBtnBtn .subBtnText {
    color: white;
    font-size: 0.5em; }

  .rotater:nth-child(1) {
    transform: rotate(-60deg); }

  .radial.radialActive .rotater:nth-child(1) .btn-icon {
    transform: translateY(-7em) rotate(60deg); }

  .rotater:nth-child(2) {
    transform: rotate(60deg); }

  .radial.radialActive .rotater:nth-child(2) .btn-icon {
    transform: translateY(-7em) rotate(-60deg); }

  .rotater:nth-child(3) {
    transform: rotate(180deg); }

  .radial.radialActive .rotater:nth-child(3) .btn-icon {
    transform: translateY(-7em) rotate(-180deg); }

  /*Sub 4 elements for Finance Advisor*/
  #subRotaterWrapper1 .subBtn:nth-child(1) {
    transform: rotate(22.5deg); }

  #subRotaterWrapper1 .subBtn:nth-child(1) .subBtnBtn {
    transition-delay: 0s; }

  .subActive1 .subBtn:nth-child(1) .subBtnBtn {
    transform: translateY(-7.5em) rotate(-22.5deg) translateX(-2em);
    transition-delay: 0.5s; }

  #subRotaterWrapper1 .subBtn:nth-child(2) {
    transform: rotate(-22.5deg); }

  #subRotaterWrapper1 .subBtn:nth-child(2) .subBtnBtn {
    transition-delay: 0.25s; }

  .subActive1 .subBtn:nth-child(2) .subBtnBtn {
    transform: translateY(-7.5em) rotate(22.5deg) translateX(-2em);
    transition-delay: 0.5s; }

  #subRotaterWrapper1 .subBtn:nth-child(3) {
    transform: rotate(-67.5deg); }

  #subRotaterWrapper1 .subBtn:nth-child(3) .subBtnBtn {
    transition-delay: 0.5s; }

  .subActive1 .subBtn:nth-child(3) .subBtnBtn {
    transform: translateY(-7.5em) rotate(67.5deg) translateX(-2em);
    transition-delay: 0.5s; }

  #subRotaterWrapper1 .subBtn:nth-child(4) {
    transform: rotate(-112.5deg); }

  #subRotaterWrapper1 .subBtn:nth-child(4) .subBtnBtn {
    transition-delay: 0.75s; }

  .subActive1 .subBtn:nth-child(4) .subBtnBtn {
    transform: translateY(-7.5em) rotate(112.5deg) translateX(-2em);
    transition-delay: 0.5s; }

  #subRotaterWrapper1 .subBtn:nth-child(5) {
    transform: rotate(-157.5deg); }

  #subRotaterWrapper1 .subBtn:nth-child(5) .subBtnBtn {
    transition-delay: 0.75s; }

  .subActive1 .subBtn:nth-child(5) .subBtnBtn {
    transform: translateY(-7.5em) rotate(157.5deg) translateX(-2em);
    transition-delay: 0.5s; }

  /*Sub 5 elements for Business Advisor*/
  #subRotaterWrapper2 .subBtn:nth-child(1) {
    transform: rotate(-18deg); }

  #subRotaterWrapper2 .subBtn:nth-child(1) .subBtnBtn {
    transition-delay: 0s; }

  .subActive2 .subBtn:nth-child(1) .subBtnBtn {
    transform: translateY(-8.5em) rotate(18deg);
    transition-delay: 0.5s; }

  #subRotaterWrapper2 .subBtn:nth-child(2) {
    transform: rotate(18deg); }

  #subRotaterWrapper2 .subBtn:nth-child(2) .subBtnBtn {
    transition-delay: 0.25s; }

  .subActive2 .subBtn:nth-child(2) .subBtnBtn {
    transform: translateY(-8.5em) rotate(-18deg);
    transition-delay: 0.5s; }

  #subRotaterWrapper2 .subBtn:nth-child(3) {
    transform: rotate(54deg); }

  #subRotaterWrapper2 .subBtn:nth-child(3) .subBtnBtn {
    transition-delay: 0.5s; }

  .subActive2 .subBtn:nth-child(3) .subBtnBtn {
    transform: translateY(-8.5em) rotate(-54deg);
    transition-delay: 0.5s; }

  #subRotaterWrapper2 .subBtn:nth-child(4) {
    transform: rotate(90deg); }

  #subRotaterWrapper2 .subBtn:nth-child(4) .subBtnBtn {
    transition-delay: 0.75s; }

  .subActive2 .subBtn:nth-child(4) .subBtnBtn {
    transform: translateY(-8.5em) rotate(-90deg);
    transition-delay: 0.5s; }

  #subRotaterWrapper2 .subBtn:nth-child(5) {
    transform: rotate(126deg); }

  #subRotaterWrapper2 .subBtn:nth-child(5) .subBtnBtn {
    transition-delay: 1s; }

  .subActive2 .subBtn:nth-child(5) .subBtnBtn {
    transform: translateY(-8.5em) rotate(-126deg);
    transition-delay: 0.5s; }

  /*Sub 3 elements for Strategic Advisor*/
  #subRotaterWrapper3 .subBtn:nth-child(1) {
    transform: rotate(22.5deg); }

  #subRotaterWrapper3 .subBtn:nth-child(1) .subBtnBtn {
    transition-delay: 0s; }

  .subActive3 .subBtn:nth-child(1) .subBtnBtn {
    transform: translateY(-3em) rotate(-22.5deg) translateX(-9em);
    transition-delay: 0.5s; }

  #subRotaterWrapper3 .subBtn:nth-child(2) {
    transform: rotate(-22.5deg); }

  #subRotaterWrapper3 .subBtn:nth-child(2) .subBtnBtn {
    transition-delay: 0.25s; }

  .subActive3 .subBtn:nth-child(2) .subBtnBtn {
    transform: translateY(3em) rotate(22.5deg) translateX(-10em);
    transition-delay: 0.5s; }

  #subRotaterWrapper3 .subBtn:nth-child(3) {
    transform: rotate(-67.5deg); }

  #subRotaterWrapper3 .subBtn:nth-child(3) .subBtnBtn {
    transition-delay: 0.5s; }

  .subActive3 .subBtn:nth-child(3) .subBtnBtn {
    transform: translateY(20em) rotate(67.5deg) translateX(-23em);
    transition-delay: 0.5s; }

  #subRotaterWrapper3 .subBtn:nth-child(4) {
    transform: rotate(-112.5deg); }

  #subRotaterWrapper3 .subBtn:nth-child(4) .subBtnBtn {
    transition-delay: 0.75s; }

  .subActive3 .subBtn:nth-child(4) .subBtnBtn {
    transform: translateY(-18em) rotate(112.5deg) translateX(18em);
    transition-delay: 0.5s; }

  #subRotaterWrapper3 .subBtn:nth-child(5) {
    transform: rotate(-157.5deg); }

  #subRotaterWrapper3 .subBtn:nth-child(5) .subBtnBtn {
    transition-delay: 0.75s; }

  .subActive3 .subBtn:nth-child(5) .subBtnBtn {
    transform: translateY(-3em) rotate(157.5deg) translateX(6em);
    transition-delay: 0.5s; }
	
  	.inner-text
	{
		width: 80%;
	}
	
  #checkboxes-wrapper
  {
	  flex-direction: column;
  }
	
	}
	
@media screen and (max-width: 480px)
{
	
	.imageLink
	{
		width: 80%;
	}
	
	#radialMenuWrapper
	{
		height: 80vh;
		overflow-x:hidden;
	}
  
  .optionCheckbox{
    align-items: unset;
  }

  #hearAboutUs{
    width: 100%;
    margin-left: 0px;
  }

  #hearAboutUsDropdownList{
    width: 100%;
    margin-left: 0px;
    padding-left: .35em;
  }

	.radial {
    width: 4em;
    height: 4em;
    border-radius: 50%; }

  .radial .centerText {
    font-size: 0.75em; }

  .radial .btn .fa {
    font-size: 0.5em; }

  .subRotaterWrapper {
    width: 7.5em;
    height: 7.5em; }

  .subRotaterWrapper .subRotater .subBtn {
    width: 7.5em;
    height: 7.5em;
    border-radius: 50%; }

  .subRotaterWrapper .subRotater .subBtnBtn {
    width: 3.75em;
    height: 3.75em;
    border-radius: 50%; }

  .subRotaterWrapper .subRotater .subBtnBtn .subBtnText {
    color: white;
    font-size: 0.4em; }

  .rotater:nth-child(1) {
    transform: rotate(-60deg); }

  .radial.radialActive .rotater:nth-child(1) .btn-icon {
    transform: translateY(-4.5em) rotate(60deg); }

  .rotater:nth-child(2) {
    transform: rotate(25deg); }

  .radial.radialActive .rotater:nth-child(2) .btn-icon {
    transform: translateY(-7.5em) rotate(-25deg); }

  .rotater:nth-child(3) {
    transform: rotate(180deg); }

  .radial.radialActive .rotater:nth-child(3) .btn-icon {
    transform: translateY(-6.5em) rotate(-180deg); }

  /*Sub 4 elements for Finance Advisor*/
  #subRotaterWrapper1 .subBtn:nth-child(1) {
    transform: rotate(-20deg); }

  #subRotaterWrapper1 .subBtn:nth-child(1) .subBtnBtn {
    transition-delay: 0s; }

  .subActive1 .subBtn:nth-child(1) .subBtnBtn {
    transform: translateY(-6em) rotate(20deg) translateX(-2em);
    transition-delay: 0.5s; }

  #subRotaterWrapper1 .subBtn:nth-child(2) {
    transform: rotate(-65deg); }

  #subRotaterWrapper1 .subBtn:nth-child(2) .subBtnBtn {
    transition-delay: 0.25s; }

  .subActive1 .subBtn:nth-child(2) .subBtnBtn {
    transform: translateY(-7em) rotate(65deg) translateX(-2em);
    transition-delay: 0.5s; }

  #subRotaterWrapper1 .subBtn:nth-child(3) {
    transform: rotate(-120deg); }

  #subRotaterWrapper1 .subBtn:nth-child(3) .subBtnBtn {
    transition-delay: 0.5s; }

  .subActive1 .subBtn:nth-child(3) .subBtnBtn {
    transform: translateY(-6.5em) rotate(120deg) translateX(-2em);
    transition-delay: 0.5s; }

  /*Sub 5 elements for Business Advisor*/
  #subRotaterWrapper2 .subBtn:nth-child(1) {
    transform: rotate(-50deg); }

  #subRotaterWrapper2 .subBtn:nth-child(1) .subBtnBtn {
    transition-delay: 0s; }

  .subActive2 .subBtn:nth-child(1) .subBtnBtn {
    transform: translateY(-7.5em) rotate(50deg);
    transition-delay: 0.5s; }

  #subRotaterWrapper2 .subBtn:nth-child(2) {
    transform: rotate(-10deg); }

  #subRotaterWrapper2 .subBtn:nth-child(2) .subBtnBtn {
    transition-delay: 0.25s; }

  .subActive2 .subBtn:nth-child(2) .subBtnBtn {
    transform: translateY(-7em) rotate(10deg);
    transition-delay: 0.5s; }

  #subRotaterWrapper2 .subBtn:nth-child(3) {
    transform: rotate(25deg); }

  #subRotaterWrapper2 .subBtn:nth-child(3) .subBtnBtn {
    transition-delay: 0.5s; }

  .subActive2 .subBtn:nth-child(3) .subBtnBtn {
    transform: translateY(-5em) rotate(-25deg);
    transition-delay: 0.5s; }

  #subRotaterWrapper2 .subBtn:nth-child(4) {
    transform: rotate(87.5deg); }

  #subRotaterWrapper2 .subBtn:nth-child(4) .subBtnBtn {
    transition-delay: 0.75s; }

  .subActive2 .subBtn:nth-child(4) .subBtnBtn {
    transform: translateY(-4.5em) rotate(-87.5deg);
    transition-delay: 0.5s; }

  #subRotaterWrapper2 .subBtn:nth-child(5) {
    transform: rotate(160deg); }

  #subRotaterWrapper2 .subBtn:nth-child(5) .subBtnBtn {
    transition-delay: 1s; }

  .subActive2 .subBtn:nth-child(5) .subBtnBtn {
    transform: translateY(-4em) rotate(-160deg);
    transition-delay: 0.5s; }

  /*Sub 3 elements for Strategic Advisor*/
  #subRotaterWrapper3 .subBtn:nth-child(1) {
    transform: rotate(22.5deg); }

  #subRotaterWrapper3 .subBtn:nth-child(1) .subBtnBtn {
    transition-delay: 0s; }

  .subActive3 .subBtn:nth-child(1) .subBtnBtn {
    transform: translateY(-3em) rotate(-22.5deg) translateX(-8em);
    transition-delay: 0.5s; }

  #subRotaterWrapper3 .subBtn:nth-child(2) {
    transform: rotate(-22.5deg); }

  #subRotaterWrapper3 .subBtn:nth-child(2) .subBtnBtn {
    transition-delay: 0.25s; }

  .subActive3 .subBtn:nth-child(2) .subBtnBtn {
    transform: translateY(3em) rotate(22.5deg) translateX(-10em);
    transition-delay: 0.5s; }

  #subRotaterWrapper3 .subBtn:nth-child(3) {
    transform: rotate(-67.5deg); }

  #subRotaterWrapper3 .subBtn:nth-child(3) .subBtnBtn {
    transition-delay: 0.5s; }

  .subActive3 .subBtn:nth-child(3) .subBtnBtn {
    transform: translateY(20em) rotate(67.5deg) translateX(-23em);
    transition-delay: 0.5s; }

  #subRotaterWrapper3 .subBtn:nth-child(4) {
    transform: rotate(-112.5deg); }

  #subRotaterWrapper3 .subBtn:nth-child(4) .subBtnBtn {
    transition-delay: 0.75s; }

  .subActive3 .subBtn:nth-child(4) .subBtnBtn {
    transform: translateY(-18em) rotate(112.5deg) translateX(18em);
    transition-delay: 0.5s; }

  #subRotaterWrapper3 .subBtn:nth-child(5) {
    transform: rotate(-157.5deg); }

  #subRotaterWrapper3 .subBtn:nth-child(5) .subBtnBtn {
    transition-delay: 0.75s; }

  .subActive3 .subBtn:nth-child(5) .subBtnBtn {
    transform: translateY(-2em) rotate(157.5deg) translateX(4em);
    transition-delay: 0.5s; }
	
	.radial .btn.trigger:hover {
        transform: scale(1.1); }
		
	.inner-text
	{
		width: 80%;
		font-size: 12px;
	}	
	
	input
	{
		width: 98.5%;
	}
	
	#JobTitle
	{
		width: 100%;
		font-size: 1.25em;
    height: 36px;
    padding-left: .35em;
    padding-bottom: 0px;
    padding-top: 0px;
  }
  
  #JobTitle option{
    width: 100%;
  }
	
	#FirstName
	{
		width: 100%;
	}
	
	.contactInfoRow
	{
		flex-direction: column;
	}

	#addressValue
	{
		font-size: 18px;
		margin: 0;
	}
}
